[submodule "plugins"]
	path = plugins
	url = https://github.com/ethereum/remix-plugins-directory
[submodule "website"]
	path = website
	url = https://github.com/ethereum/remix-website
[submodule "recursive"]
	path = recursive
	url = https://github.com/bunsenstraat/test-branch-submodule-recursive
[submodule "libdeep/recursivedeep"]
	path = libdeep/recursivedeep
	url = https://github.com/bunsenstraat/test-branch-submodule-recursive
